<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<style>
	.blockinput {
		display:block;
	}
</style>
<title>Time registration</title>
</head>
<body>
	<h1>Time registration</h1>

	<form action="/timereg" method="POST">
		<label for="name"><strong>Current project or task</strong></label>
		<input class="blockinput" type="text" name="name" placeholder="Project name/task">
		<p>	</p>
		<label for="date">Date</label>
		<input id="dateID" type="date" name="date" required>
		<label for="date">Start time</label>
		<input id="startTimeID" type="time" name="startTime" required>
		<label for="date">End time</label>
		<input ide="stopTimeID" type="time" name="stopTime" required>
		<button>Register</button>
	</form>

	<p></p>

	<table id="mainTable" class="table">
		<thead class="thead-light">
			<tr>
				<th><strong>Projects</strong></th>
				<% projects.forEach(function(project){ %>
				<th><%= project.name %></th>
				<%})%>
			</tr>
		</thead>
		<tbody>	
			<th></th> 
			<% projects.forEach(function(project){ %>
			<td>
				<% project.dateAndTime.forEach(function(date_time){ %> 
				<table class="table">
					<tr>
						<td>
							Date: <%=date_time.date.getDay()+1%>/<%= date_time.date.getMonth()+1%>-<%= date_time.date.getFullYear()-2000%>
							<p>	</p>
							Time: <%= Math.floor((date_time.time)/60)%>h <%=date_time.time%60%>min
						</td>
					</tr>
					<% totTime = (totTime + date_time.time) %>	

					<% }); %>
					<tr>
						<td>		
							<strong>Total time: <%= Math.floor((totTime)/60)%>h <%= totTime%60 %>min</strong>
						</td>
					</tr>
					<tr>
						<td>	
							<form action="/delete" method="POST"><button name="del" value="<%=project._id%>">Delete</button></form>
						</td>
					</tr>			
					<% totTime = 0%> 				
				</table>
				<% }); %> 
			</td>
		</tbody>
	</table>

</body>
</html>
