<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<style>
		.blockinput {
			display:block;
		}
		h1 {
			padding-top: 30px;
			text-align: center;
		}
		#form{
			padding-top: 15px;
			text-align: center;
		}
	</style>
<title>Time registration</title>
</head>
<body>
	<div class="container">
		<h1>Time registration</h1>

		<div id="form">
			<form action="/timereg" method="POST">
				<label for="name"><strong>Current project or task: </strong></label>
				<input type="text" name="name" placeholder="Project name/task">
				<p></p>
				<label for="date">Date</label>
				<input type="date" name="date" required>
				<label for="date">Start time</label>
				<input type="time" name="startTime" required>
				<label for="date">End time</label>
				<input type="time" name="stopTime" required>
				<button class="btn btn-primary">Register</button>
			</form>
		</div>
		<p></p>

		<table id="mainTable" class="table">
			<thead class="thead-light">
				<tr>
					<th><strong>Projects</strong></th>
					<% projects.forEach(function(project){ %>
					<th><%= project.name %></th>
					<% }); %>
				</tr>
			</thead>
			<tbody>	
				<th></th> 
				<% projects.forEach(function(project){ %>
				<td>
					<% project.dateAndTime.forEach(function(date_time){ %> 
					<table class="table">
						<tr>
							<td>
								Date: <%= date_time.date.getDate() %>/<%= date_time.date.getMonth()+1 %>-<%= date_time.date.getFullYear() %>
								<p></p>
								Time: <%= Math.floor((date_time.time)/60) %>h <%= date_time.time%60 %>min
							</td>
						</tr>
						<% totTime = (totTime + date_time.time) %>	
						<% }); %>
						<tr>
							<td>		
								<strong>Total time: <%= Math.floor((totTime)/60)%>h <%= totTime%60%>min</strong>
							</td>
						</tr>
						<tr>
							<td>	
								<form action="/delete" method="POST"><button class="btn btn-danger" name="del" value="<%=project._id%>">Delete</button></form>
							</td>
						</tr>			
						<% totTime = 0%> 				
					</table>
					<% }); %> 
				</td>
			</tbody>
		</table>
	</div>
</body>
</html>
